@font-face {
  font-family: "DMSans";
  src: url("fonts/DMSans.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend.woff2") format("woff2");
}