@use "mixins" as *;

.h-svg-holder {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.h-filters-btn {
  @include flex-column;
  @include flex-centered;
  background: #3e63dd;
  padding: 0 12px;
  width: 74px;
  height: 100%;
}

.h-clear-all-btn {
  background: rgba(64, 64, 64, 1);
  color: white;
  height: 36px;
  padding: 0 8px;
  border-radius: var(--rounding-200);
}

.s-input-btn {
  @include flex-column;
  @include flex-centered;
  overflow: hidden;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.s-input-btns {
  @include flex-row;
  @include flex-centered;
  gap: 4px;
}

.h-contacts {
  @include flex-row;
  @include flex-centered;
  gap: 12px;
}

.s-input-and-svgs {
  @include flex-row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  border-radius: var(--rounding-300);
  background: #32363f;
  font-weight: 500;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.s-input {
  height: 100%;
  width: 100%;
  margin-left: 12px;

  &::placeholder {
    font-weight: 600;
    color: #dfdfd6;
    transition: opacity 0.5s ease;
  }

  &:focus {
    caret-color: #dfdfd6;
  }
}

.clear-filter-btn {
  background: rgba(101, 117, 133, 1);
  height: 36px;
  padding: 0 8px;
  color: rgba(22, 22, 24, 1);
  border-radius: var(--rounding-pill);
}

.header {
  @include flex-column;
  @include flex-centered;
  min-width: 430px;
  width: 100vw;
  background: var(--bg-main);
}

.h-units {
  display: grid;
  height: 44px;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  position: relative;
  justify-content: center;
  gap: 24px;
  max-width: 430px;
  width: 100%;
  padding: 0 12px;
}

