@use "mixins" as *;

.s-and-contacts {
  @include flex-row();
  height: 48px;
  width: 100%;
}

.s-input-box {
  @include flex-row;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  border: 2px solid var(--gray30);
  border-radius: var(--rounding-pill);
  font-weight: 600;
  height: 100%;
  width: 100%;
  color: rgba(235, 235, 245, .6);
  position: relative;
  margin-right: 10px;

  &:hover {
    cursor: text;
  }
}

.s-svg-holder {
  width: 24px;
  height: 24px;
}

.s-search-svg {
  @include flex-column;
  @include flex-centered;
  width: 48px;
  height: 48px;
}

.s-input-btn {
  @include flex-column;
  @include flex-centered;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.s-input-btn-contacts {
  @include flex-column;
  @include flex-centered;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.s-input {
  padding-left: 8px;
  height: 100%;
  font-weight: 500;
  flex: 1;
  position: relative;
  outline: none;

  &::placeholder {
    font-weight: 600;
    color: #32363f;
    transition: opacity 0.5s ease;
  }

  &:focus {
    caret-color: #32363f;
  }
}

.tools-dropdown {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 52px;
  width: 100%;
  transform: translateX(-50%);
  background: var(--bg-main);
  border: 2px solid var(--gray30);
  border-radius: var(--rounding-300);
  z-index: 1000;
  padding: 16px 0;
}

.tools-section-title {
  color: rgba(235, 235, 245, .6);
  font-size: 1.1rem;
  padding: 0 16px;
}

.tools-hide-btn {
  @include flex-row;
  background: var(--gray20);
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 348px;
  border-radius: var(--rounding-200);

  &:hover {
    background: var(--gray30);
    color: white;
  }
}

.tools-section {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


