.tp-tags-block {
  margin-top: 12px;
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
  padding: 12px 24px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tp-tag-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.tags-picker{
  border-radius: var(--rounding-300);
  background: rgba(24, 24, 28, 1);
  margin-bottom: 16px;
}

.tp-tag-btn {
  border-radius: var(--rounding-200);
  color: #75b6e7;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 4px;
  font-weight: 400;
}

.tp-tag-btn.selected {
  font-weight: 400;
  color: #FFAB70;
}

.tp-tag-btn:hover {
  color: #FFAB70;
  font-weight: 400;
}