.tp-tags-block {
  margin-top: 12px;
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 8px;
  padding: 0 24px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tp-tag-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.tp-tag-btn {
  border-radius: var(--rounding-200);
  background: rgba(20, 20, 20, 1);
  color: rgba(235, 235, 245, .6);
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 6px 12px;
  font-weight: 300;
}

.tp-tag-btn.selected {
  font-weight: 500;
  color: var(--bg-main);
  background: white;
}

.tp-tag-btn:hover {
  font-weight: 500;
  color: var(--bg-main);
  background: white;
}