@use "mixins" as *;

.s-categories-btns-wrapper {
  @include flex-column;
  @include flex-centered;
  width: 360px;
  padding: 16px;

  margin-bottom: 12px;
}

.category-title-total {
  @include flex-row;
  @include flex-centered;
  font-weight: 400;
  gap: 16px;
}

.category-select-svg-limiter{
  width: 12px;
  height: 12px;
}

.category-switcher{
  @include flex-column;
  border-radius: var(--rounding-300);
  background: #161618;
  margin-bottom: 16px;
}

.s-category {
  color: #dfdfd6;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  cursor: pointer;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 0.9rem;

  &.active {
    color: #FFAB70;
    font-weight: 400;
  }

  &.disabled {
    font-weight: 400;
    color: rgba(235, 235, 245, .6);
  }
}
