@use "mixins" as *;

.p-list-box {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, 430px);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 16px;
  width: 100vw;
  scroll-behavior: smooth;
  overflow: scroll;
  padding: 16px 8px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
.anchor {
  height: 1px;
}

.p-list-total {
  @include flex-row();
  align-items: center;
  color: rgba(86, 86, 86, 1);
  font-size: 14px;
}