@use "mixins" as *;

.s-categories-btns-wrapper {
  @include flex-row;
  @include flex-centered;
  gap: 16px;
  width: 430px;
  padding: 0 8px;
}

.s-category-btn {
  color: rgba(220, 220, 220, 1);
  @include flex-column;
  @include flex-centered;
  border-radius: var(--rounding-pill);
  height: min-content;
  cursor: pointer;
  padding: 6px 16px;
  font-weight: 500;
  font-size: 0.9rem;

  &.active {
    background-color: rgba(16, 16, 16, 1);
  }

  &.disabled {
    color: rgba(86, 86, 86, 1);
  }
}
