@use "mixins" as *;

.p-box {
  @include flex-column;
  background-color: rgba(12, 12, 12, 1);
  border-radius: var(--rounding-300);
  max-width: 410px;
  padding: 10px 16px;
  overflow: hidden;
  height: min-content;
}

.p-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.p-content {
  color: var(--lb-marketing-color-text-subtler);
  line-height: 24px;
  font-size: 0.9rem;
  font-weight: 400;
  word-break: break-word;
  max-height: calc(24px * 3);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  &.expanded {
    max-height: none;
    -webkit-line-clamp: unset;
  }
}

.p-read-hide-btn-svg-limiter {
  height: 18px;
  width: 18px;
}

.p-read-hide-btn {
  @include flex-column;
  align-items: start;
  border-radius: var(--rounding-pill);
  cursor: pointer;
  margin-top: 4px;
}

.p-attributes {
  height: min-content;
  margin-top: 4px;
  font-size: 0.9rem;
  @include flex-row;
}

.p-title-created-at {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 100%;
  gap: 32px;
  margin-bottom: 6px;
}

.p-content-and-btn {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 12px;
  width: 100%;
}

.p-created-at {
  @include flex-row;
  gap: 4px;
  font-size: 0.8rem;
  align-items: center;
  color: #7c7c7c;
}

.p-day {
  font-weight: 500;
}

.p-month {
  font-weight: 500;
}

.p-hours-minutes {
  font-weight: 500;
}

.p-tags {
  @include flex-row;
  gap: 10px;
}

.p-tag-btn {
  @include flex-row;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  color: #edff8d;
  cursor: pointer;
}

.p-thumb {
  width: 100%;
  height: 250px;
}