[data-theme=dark] {
  color-scheme: dark;
  --standard-border-radius: var(--rounding-300)
}

:root {
  --bg-main: #1f1f1f;
  --gray0: rgb(10, 11, 13);
  --gray5: rgb(20, 21, 25);
  --gray10: rgb(30, 32, 37);
  --gray15: rgb(40, 43, 49);
  --gray20: rgb(50, 53, 61);
  --gray30: rgb(70, 75, 85);
  --gray40: rgb(91, 97, 110);
  --gray50: rgb(114, 120, 134);
  --gray60: rgb(138, 145, 158);
  --gray70: rgb(165, 170, 182);
  --gray80: rgb(193, 198, 207);
  --gray90: rgb(224, 226, 231);
  --gray100: rgb(255, 255, 255);

  --rounding-0: 0px;
  --rounding-100: 4px;
  --rounding-200: 8px;
  --rounding-300: 12px;
  --rounding-400: 16px;
  --rounding-500: 20px;
  --rounding-600: 24px;
  --rounding-700: 28px;
  --rounding-800: 32px;
  --rounding-pill: 999px;
  --rounding-circle: 50%;
}