@use "mixins" as *;

.h-dropdown {
  @include flex-column;
  margin-top: 15vh;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-50%);
  background: var(--bg-main);
  border-bottom: 2px solid #161618;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  padding-top: 18px;
  top: 0;
  width: 100%;
  left: 50%;
  height: 85vh;

  &::-webkit-scrollbar {
    display: none;
  }
}


.tools-section-title {
  @include flex-column;
  @include flex-centered;
  margin-top: 18px;
  width: 100%;
  color: rgba(235, 235, 245, .6);
  font-size: 1.1rem;
  padding: 0 16px;
}

