@use "mixins" as *;

.remove-filter-svg {
  height: 16px;
  width: 16px;
}

.condition-item {
  @include flex-row;
  @include flex-centered;
  font-size: 0.9rem;
  margin-right: 6px;
  margin-left: 6px;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  gap: 4px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.filter-conditions {
  display: grid;
  margin-top: 10px;
  grid-template-rows: min-content 1fr;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 390px;
  height: fit-content;
  align-items: center;
  color: rgba(182, 182, 190, 0.6);
  scroll-behavior: smooth;

}

.condition-box {
  @include flex-row;
  @include flex-centered;
  text-align: center;
  flex-wrap: nowrap;
  height: 20px;
}